<div class="flex-content">

    <p><b>Level 3</b></p>

    <form [formGroup]="calculatorFormGroup" (ngSubmit)="saveCalculatorValues()">
      
      <div class="choose-amount">

        <mat-form-field class="full">
          <input type="number" matInput placeholder="montant désiré" formControlName="value"
          min="1" 
          onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
          >
        </mat-form-field>

        <!-- oninput="validity.valid||(value='');"  -->

        <div class="close-quantities">

          <button mat-raised-button type="button" (click)="findNextOrPreviousAmount(1)" [disabled]="amount == undefined || ceilDisabled">Montant suivant</button>

          <button mat-raised-button type="button" (click)="findNextOrPreviousAmount(-1)" [disabled]="amount == undefined || floorDisabled">Montant précédent</button>

        </div>

      </div>

      <ng-container *ngIf="floor">

          <div class="amount-content">
      
              Le montant désiré n'est pas disponible mais vous pouvez choisir un montant inférieur de {{ floor. value }} € avec les cartes suivantes :
              
              <div *ngFor="let card of floor.cards">
      
                  - {{card}} €
      
              </div>

              <button class="btn-mat-amount" mat-raised-button type="button" (click)="chooseNewAmount(floor.value)">choisir {{floor.value}} €</button>
      
          </div>

      </ng-container>

      <ng-container *ngIf="ceil">

          <div class="amount-content">
      
              Le montant désiré n'est pas disponible mais vous pouvez choisir un montant supérieur de {{ ceil.value }} € avec les cartes suivantes :
              
              <div *ngFor="let card of ceil.cards">
      
                  - {{card}} €
      
              </div>

              <button class="btn-mat-amount" mat-raised-button type="button" (click)="chooseNewAmount(ceil.value)">choisir {{ceil.value}} €</button>

          </div>

      </ng-container>
      
      <div *ngIf="cards.length > 0" class="cards">

        <p>Le montant désiré est disponible avec les cartes suivantes :</p>

        <div *ngFor="let card of cards; let n=index">

          - {{card}} €

        </div>

      </div>

      <div class="btn-submit">

        <button class="btn-mat-amount" [disabled]="!calculatorFormGroup.valid" mat-raised-button type="submit">Choisir ce package</button>

      </div>
      
    </form>

    <div *ngIf="calculatorComponentValue" class="result">

      Vous avez choisi un montant de : 

      {{ calculatorComponentValue.value }} € 

      avec les cartes :

      <div *ngFor="let card of calculatorComponentValue.cards" class="cards">

        - {{ card }} €

      </div>

    </div>

</div>