.banner { 
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
}

.banner-title {
    font-size: large;
    padding: 10px;
}

.content {
    width: 100%;
    padding: 10px;
}

.mat-form {
    min-width: 50px;
    max-width: 200px;
    width: 100%;
}

.btn-mat-amount {
    margin-top: 10px;

}

.flex-form-check, .flex-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.amount-content {
    margin: 10px 0;
}

.choose-quantity {
    display: inline-flex;
}

