<div class="banner">

    <div class="banner-title">

        Test Glady - Antoine Chatté

    </div>

</div>

<div class="content">

    <p><b>Level 1 & 2</b></p>

    <div class="flex-form-check">

            <app-amount-output [amount]="amount" [shopId]="shopId" 
                (desiredAmountEvent)=chooseNewOutputAmount($event)
                (changeEvent)="clearData()"
                >
            </app-amount-output>

    </div>

    <div class="flex-content">

        <ng-container *ngIf="amount && equal">

            <div class="amount-content">
    
                Le montant désiré est disponible avec les cartes suivantes :
                
                <div *ngFor="let card of equal.cards">
        
                - {{card}} €
        
                </div>

            </div>   
    
        </ng-container>    

        <ng-container *ngIf="amount && floor && equal == undefined">

            <div class="amount-content">
        
                Le montant désiré n'est pas disponible mais vous pouvez choisir un montant inférieur de {{ floor. value }} € avec les cartes suivantes :
                
                <div *ngFor="let card of floor.cards">
        
                    - {{card}} €
        
                </div>
    
                <button class="btn-mat-amount" mat-raised-button type="button" (click)="chooseNewOutputAmount(floor.value)">choisir {{floor.value}} €</button>
        
            </div>

        </ng-container>

        <ng-container *ngIf="amount && ceil && equal == undefined">

            <div class="amount-content">
        
                Le montant désiré n'est pas disponible mais vous pouvez choisir un montant supérieur de {{ ceil.value }} € avec les cartes suivantes :
                
                <div *ngFor="let card of ceil.cards">
        
                    - {{card}} €
        
                </div>

                <button class="btn-mat-amount" mat-raised-button type="button" (click)="chooseNewOutputAmount(ceil.value)">choisir {{ceil.value}} €</button>

            </div>
    
        </ng-container>

    </div>

</div>

<div class="content">

    <app-calculator-value [shopId]="shopId"></app-calculator-value>

</div>
