.flex-form-check, .flex-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.choose-quantity {
    display: inline-flex;
}

.close-quantities {
    display: flex;
    flex-direction: column;
    height: 56px;
    justify-content: space-between;
}

.close-quantities .mat-mdc-raised-button {
    height: 20px;
    min-width: 160px;
    margin: 0 24px;
}

::ng-deep .close-quantities .mat-mdc-raised-button .mat-mdc-button-touch-target {
    height: 20px !important;
}


.amount-content {
    margin: 10px 0;
}