<div class="choose-quantity">

    <div class="mat-input">
        <mat-form-field>
            <mat-label for="desired-amount">Montant désiré</mat-label>
            <input type="number" id="desired-amount" #desiredAmount [(ngModel)]="amount" (ngModelChange)="valueChange($event)"
            matInput name="amount"  class="mat-input"
            min="1" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"
            > 
        </mat-form-field>
    </div>

    <div class="close-quantities">

        <button mat-raised-button type="button" (click)="findCloseAmount(1)" [disabled]="amount == undefined || ceilDisabled">Montant suivant</button>

        <button mat-raised-button type="button" (click)="findCloseAmount(-1)" [disabled]="amount == undefined || floorDisabled">Montant précédent</button>

    </div>
    
</div>

<button mat-raised-button type="button" [disabled]="amount == undefined || amount < 1" (click)="chooseDesiredAmount(desiredAmount.value)">Valider</button>